.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
  margin-top: 20px;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}

.dashboard_input {
  border: none;
  background-color: #f7f7f7;
  border-bottom: 1px solid #797a9e;
  margin-top: 23px;
  padding: 10px;
  width: 400px;
  color: #797a9e;
  font-size: 26px;
  font-weight: 400;
  outline: none;
  margin-right: 30px;
  margin-left: 20px;
  font-style: italic;
  color: #797a9e;
  &::placeholder {
    font-style: italic;
    color: #797a9e;
    font-weight: 400;
  }
}

.content-container-filters {
  display: flex;
  justify-content: center;
  background: #f7f7f7;

  border-bottom: 1px solid darken(#f7f7f7, 20%);
  margin: 20px auto;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0 $m-size;
  max-width: 100%;
}
//.DateRangePickerInput {
//}

.select_option {
  margin: 0px;
  font-style: italic;
  margin-left: 10px;
  color: #797a9e;
  font-weight: 400;
  margin-bottom: -10px;
  font-size: 26px;
  margin-right: 30px;
}

.send_to_back {
  position: relative;
  z-index: -1;
}
