.box-layout {
  background: $base-bgcolor;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box-layout__box {
  background: darken($base-bgcolor, 10%);
  border: 1px solid #c6cee2;
  border-radius: 20px;
  text-align: center;
  width: 28.5rem;
  padding: $m-size $m-size $l-size $m-size;
  box-shadow: 2px 2px 5px #000;
}

.box-layout__title {
  font-size: 50px;
  margin-left: 13px;
  margin-right: 0;
  font-weight: bold;
  margin-top: 3px;
  font-style: italic;
  margin-bottom: 0px;
  color: lighten($base-color, 90%);
}

.box-layout__paragraph {
  font-size: 18pt;
  font-style: italic;
  color: darken($base-bgcolor, 60%);
}

.lbtn {
  border-bottom: 1px solid $base-bgcolor;
  font-size: 12pt;
  font-weight: 1200;
  background: fade-out(white, 0.6);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  font: $base-font-family, $base-font-family-fallback, sans-serif;
}

.lbtn:hover {
  background-color: lighten(fade-out(white, 0.8), 5%);
  transition: 0.2s ease-in-out;
}
