.page-header {
  background: #f7f7f7;
  margin-bottom: 0;
  padding: $m-size 0;
  border-bottom: 1px solid darken($main-bg-color, 15%);
}

.error-header {
  margin-bottom: 0;
  padding: $m-size 0;
  border-bottom: 1px solid darken($main-bg-color, 30%);
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 700;
  margin: 0;
  color: #797a9e;
  font-style: italic;
  span {
    font-weight: 700;
  }
}
