//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$x-size: 4.8rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$desktop-breakpoint: 45rem;

$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;

$base-bgcolor: #354152;
$base-color: #7e8ba3;
$header-writing-color: #f6f6f6;
$blue: #809bce;
$purple: #9893da;
$dark-grey: #333;
$grey: #666;
$dark-blue: #364051;
$off-white: #f7f7f7;

$login-button-padding: 5px 30px 5px 30px;
$login-button-border-radius: 8px;
